# VS Code editor settings
.vscode/

# Dependency directories
/vendor/

# IDE-specific files
.idea/

# Composer files
composer.phar
composer.lock

# Test and temporary files
/test.php
/jikan-fixtures/

# Cache files
.php-cs-fixer.cache
.phpunit.result.cache

# Documentation output
.phpdoc/
